.nav {
  background-image: linear-gradient(#666666, #1a1a1a);
  height: 60px;
  margin: -10px;
  font-family: Arial;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 18px;
  display: inline-block;
}

.nav-item-logo {
  display: inline-block;
  font-size: 20px;
}

.nav-item-left {
  display: inline-block;
  font-size: 14px;
}

.nav-item-right {
  display: inline-block;
  font-size: 14px;
  float: right;
  padding: 2px;
}

.nav-item:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3), 4px 6px 20px 4px rgba(0, 0, 0, 0.3);
}

.homebg {
  height: 70%;
  background: url('../images/bg.jpeg');
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-size: cover;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 80px;
  font-size: calc(3.6vw + 3.6vh);
  color: white;
}

.homesearch {
  font-size: 20px;
  font-size: calc(1vw + 1vh);
}

.homemap {
  width: 50%;
  height: 70%;
  display: inline-block;
  float: left;
}

#map {
  height: 100%;
  width: 100%;
}

.banner {
  height: 17%;
  margin: 0 -20px;
}

.banneritem {
  color: white;
  float: left;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  font-size: calc(1.3vw + 1.3vh);
  padding: 30px 10px;
  transition: 0.4s;
  width: 12.35%;
  height: 100%;
}

.banneritem:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3), 4px 6px 20px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 350px) {
    .over350 {
        display: none;
    }
    .below350 {
        display: inline;
    }
}