

.homebg {
  width: calc(50% + 40px);
  height: 70%;
  margin-left: -20px;
  background: url('../images/bg.jpeg');
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-size: cover;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 80px;
  font-size: calc(3.6vw + 3.6vh);
  color: white;
  padding: 50px;
}

.homesearch {
  font-size: 20px;
  font-size: calc(1vw + 1vh);
}

.homemap {
  margin-right: -20px;
  width: 50%;
  height: 70%;
  display: inline-block;
}

.banner {
  height: 24%;
  margin: 0 -20px;
}

.banneritem {
  color: white;
  float: left;
  height: 250px;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  font-size: calc(1.3vw + 1.3vh);
  padding: 20px 0;
  transition: 0.4s;
}

.banneritem:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3), 4px 6px 20px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 350px) {
    .over350 {
        display: none;
    }
    .below350 {
        display: inline;
    }
}