.container {
  width: 100%;
}

.page {
  margin-top: 50px;
}

.searchbox {
  margin: auto;
  width: 80%
}

.search {
  height: 40px;
  width: 32%;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 5px;
}

.homebg {
  width: 50%;
  height: 70%;
  float: left;
}

.homemap {
  width: 50%;
  height: 70%;
  float: left;
}

.banner {
  height: 20%;
}

.bannerimg {

}

.map {
  width: 50%;
  height: 85%;
  float: left;
}

.searchResults {
  width: 50%;
  height: 85%;
  float: left;
  padding: 10px;
}

.radio {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

.newentry input, textarea {
  margin-bottom: 20px;
  width: 100%;
}

.newentry {
  width: 50%;
  margin: 50px auto;
}

.entrytype {
  width: 500px;
  margin: auto;
}

.lost, .found {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  font-size: 20px;
  text-align: center;
  margin: 40px 20px;
  padding: 10px;
  overflow: hidden;
}

.supplies, .funds {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  font-size: 15px;
  text-align: center;
  margin: 40px 20px;
  padding: 10px;
  overflow: hidden;
}

.lost:hover, .found:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.25);
}

.entry {
  border: 1px solid black;
  overflow: hidden;
}

.entryImg {
  width: 20%;
  float: left;
  margin: 30px;
}

.entryData {
  width: 70%;
  float: left;
  margin: 0 20px 20px 20px;
}

.active {
  background-color: #6495ed;
  color: white;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.lostandfoundbutton {
  width: 100%;
  margin: 10px 0;
  background-color: #6495ed;
  color: white;
  border: 2px solid #008CBA;
  transition-duration: 0.4s;
  font-size: 20px;
}

.lostandfoundbutton:hover {
  background-color: white;
  color: #6495ed;
}

.loginform {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
  margin: 10% 30%;
  padding: 0 30px 10px 15px;
  background-color: white;
  opacity: 0.95;
  color: black;
}

.lostandFoundHeader {
  margin-top: 100px
}

.progress {
  height: 50px;
  width: 300px;
}